{% extends "layout.html" %}
{% block title %}Listing{% endblock %}
{% block content %}
  <h1>Listing Page</h1>
  <table>
    <thead>
      <tr>
        <th align="left">Id</th>
        <th align="left">Image</th>
        <th align="left">Title</th>
        <th align="left">Message</th>
        <th align="left">Submission Time</th>
        <th align="left">View</th>
        <th align="left">Vote</th>
      </tr>
    </thead>
    <tbody>
      {% for record in question_list %}
        <tr>
            <td>{{ record['id'] }}</td>
            <td><img src="{{ record['image'] if record['image'] else 'images/uploaded_images/default.png' }}" width="100"></td>
            <td><a href="/question/{{ record['id'] }}">{{ record['title'] }}</a></td>
            <td>{{ record['message'] }}</td>
            <td>{{ record['submission_time'] }}</td>
            <td>
                {{ record['view_number'] }}</td>
            </td>
            <td>
                <a href="/question/{{ record['id'] }}/upvote"><img src="images/icons/upvote.png" width="10"></a>
                <a href="/question/{{ record['id'] }}/downvote"><img src="images/icons/downvote.png" width="10"></a>
                {{ record['vote_number'] }}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2><a href="/add-question">Add a new question</a></h2>
{% endblock %}