{% extends "layout.html" %}
{% block title %}Question{% endblock %}
{% block content %}

    <h1 class="question-title" align="center">{{ question['title'] }}</h1>
    <div id="question_box">
        <div id="infobox">
            <div id="date">
                <em><strong>Submitted at: </strong>{{ question['submission_time'] }}</em>
            </div>
            <div id="delete">
                <a href="/question/{{ question['id'] }}/delete"><img src="../images/icons/delete.png" width="20"></a>
            </div>
            <div id="edit">
                <a href="/question/{{ question['id'] }}/edit"><img src="../images/icons/edit.png" width="20"></a>
            </div>
            <div id="comment">
                <a href="/question/{{ question['id'] }}/new-comment"><img src="../images/icons/comment.png" width="20"></a>
            </div>
            <div id="vote_number">
                <em><strong>Vote: </strong>{{ question['vote_number'] }}</em>
                <a href="/question/{{ question['id'] }}/upvote"><img src="../images/icons/upvote.png" width="10"></a>
                <a href="/question/{{ question['id'] }}/downvote"><img src="../images/icons/downvote.png" width="10"></a>
            </div>
            <div id="view_number">
                <em><strong>View: </strong>{{ question['view_number'] }}</em>
            </div>
        </div>
        <div id="question-message">
            <div style="font-family: Arial;">{{ question['message'] | replace("\n", "<br>") | safe }}</div>
        </div>
        <div id="image">
            {% if question['image'] %}
                <a href="/picture/question/{{ question['id'] }}"><img src="../{{ question['image'] }}" style="max-height: 300px; max-width: 300px;"></a>
            {% endif %}
        </div>
        
        
        {% if q_comments %}
            <div id="comments">
                <h2 style="margin-left: 100px; margin-bottom: 5px; color: #fff;">Comments</h2>
                {% for comment in q_comments %}
                    <div class="comment">
                        <div class="comment-infobox">
                            <small class="submission">{{ comment['submission_time'] }}</small>
                            {% if comment['edited_count'] %}
                                <small class="edited-count">| Edited {{ comment['edited_count'] }} time(s)</small>
                            {% endif %}
                            <div class="edit">
                                <a href="/comment/{{ comment['id'] }}/edit"><img src="../images/icons/edit.png" width="15"></a>
                            </div>
                            <div class="delete">
                                <a href="/comments/{{ comment['id'] }}/delete" onclick="return confirm('Do you want to delete it?');"><img src="../images/icons/comment_delete.png" width="15"></a>
                            </div>
                        </div>
                        <div class="comment-message">
                            {{ comment['message'] | replace("\n", "<br>") | safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {%  endif %}
        

            <div id="tags">
                {% for tag in tags %}
                    <div class="tag">
                    {{ tag['name'] }} <a href="/question/{{ question['id'] }}/tag/{{ tag['id'] }}/delete"><img src="../images/icons/tag_delete.png" width="20"></a>
                    </div>
                {% endfor %}
                <div id="tag_button">
                    <a href="/question/{{ question['id'] }}/new-tag" > + add tag </a>
                </div>
            </div>            

    </div>

    <h2 align="center">Answers</h2>

    {% for answer in answers %}
    <div class="answer">
            <div id="answerinfobox">
                <div id="date">
                    <em><strong>Submitted at: </strong>{{ answer['submission_time'] }}</em>
                </div>
                <div id="delete">
                    <a href="/answer/{{ answer['id'] }}/delete"><img src="../images/icons/delete.png" width="20"></a>
                </div>
                <div id="edit">
                    <a href="/answer/{{ answer['id'] }}/edit"><img src="../images/icons/edit.png" width="20"></a>
                </div>
                <div id="comment">
                    <a href="/answer/{{ answer['id'] }}/new-comment"><img src="../images/icons/comment.png" width="20"></a>
                </div>
                <div id="vote_number">
                    <em><strong>Vote: </strong>{{ answer['vote_number'] }}</em>
                    <a href="/answer/{{ answer['id'] }}/upvote"><img src="../images/icons/upvote.png" width="10"></a>
                    <a href="/answer/{{ answer['id'] }}/downvote"><img src="../images/icons/downvote.png" width="10"></a>
                </div>
            </div>
            <div class="answermessage">
                <div style="font-family: Arial;">{{ answer['message'] | replace("\n", "<br>") | safe }}</div>
            </div>
        <div class="answerpic" style="margin-bottom: 20px;">
            {% if answer['image'] %}
                <a href="/picture/answer/{{ answer['id'] }}"><img src="../{{ answer['image'] }}" width="300"></a>
            {%  endif %}
        </div>
        {% if answer['id'] in a_comments %}
            <div id="comments">
                <h2 style="margin-left: 85px; margin-bottom: 5px; color: #fff;">Comments</h2>
                {% for comment in a_comments[answer['id']] %}
                    <div class="answer-comment">
                        <div class="answer-comment-infobox">
                            <small class="submission">{{ comment['submission_time'] }}</small>
                            {% if comment['edited_count'] %}
                                <small class="edited-count">| Edited {{ comment['edited_count'] }} time(s)</small>
                            {% endif %}
                            <div id="edit">
                                <a href="/comment/{{ comment['id'] }}/edit"><img src="../images/icons/edit.png" width="15"></a>
                            </div>
                            <div id="delete">
                                <a href="/comments/{{ comment['id'] }}/delete" onclick="return confirm('Do you want to delete it?');"><img src="../images/icons/comment_delete.png" width="15"></a>
                            </div>
                        </div>
                        <div class="answer-comment-message">{{ comment['message'] | replace("\n", "<br>") | safe }}</div>
                    </div>
                {% endfor %}
            </div>
        {%  endif %}
    </div>
    {% endfor %}
    <div style="margin: 40px 0 60px;" id="new_answer" align="center">
        <div id="new_answer_form" style="width: 740px" align="left">
            <form action="/question/{{ question['id'] }}/new-answer" method="POST" enctype="multipart/form-data">
                <p><textarea name="message" rows="10" cols="100" placeholder="Enter your answer!" required></textarea></p>
                <p><input type="file" name="picture_upload" accept=".jpg, .png, .jpeg"></p>
                <p><input type="submit" value="Add answer" name="new_answer"></p>
            </form>
        </div>
    </div>
    

{% endblock %}