{% extends "layout.html" %}
{% block title %}List Users{% endblock %}
{% block content %}
  <h1 style="text-align: center;">Users List</h1>
  <div style="margin: 0 auto;width: 1356px;border: 1px solid #fff">
    <table style="border: 5px solid #61c3ff;">
      <thead>
        <tr>
          <th align="left" style="width: 35px;">User name</th>
          <th align="left" style="width: 100px;">Registration date</th>
          <th align="left" style="width: 85px;">Reputation</th>
          <th style="width: 200px;">Questions</th>
          <th align="left">Answers</th>
          <th align="left" style="width: 180px;">Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_data %}
          <tr>
            <td><a href="/user/{{ user['userid'] }}">{{ user['email'] }}</a></td>
            <td>{{ user['regtime'] }}</td>
            <td>{{ user['reputation'] }}</td>
            <td>{{ user['question_count'] }}</td>
            <td>{{ user['answer_count'] }}</td>
            <td>{{ user['comment_count'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if questions %}
  <div class="user_content">
    <h2>Asked question by the user</h2>
    <div style="margin: 0 auto;width: 1356px;border: 1px solid #fff">
      <table style="border: 5px solid #61c3ff;">
        <thead>
          <tr>
            <th align="left" style="width: 35px;">Title</th>
            <th align="left" style="width: 100px;">Message</th>
            <th align="left" style="width: 85px;">Submission time</th>
          </tr>
        </thead>
        <tbody>
          {% for question in questions %}
            <tr>
              <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
              <td>{{ question['message'] }}</td>
              <td>{{ question['submission_time'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  {% if answers %}
  <div class="user_content">
    <h2>Answers by the user</h2>
    <div style="margin: 0 auto;width: 1356px;border: 1px solid #fff">
      <table style="border: 5px solid #61c3ff;">
        <thead>
          <tr>
            <th align="left" style="width: 100px;">Message</th>
            <th align="left" style="width: 85px;">Submission time</th>
          </tr>
        </thead>
        <tbody>
          {% for answer in answers %}
            <tr>
              <td><a href="/question/{{ answer['question_id'] }}">{{ answer['message'] }}</a></td>
              <td>{{ answer['submission_time'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  {% if comments %}
  <div class="user_content">
    <h2>Comments by the user</h2>
    <div style="margin: 0 auto;width: 1356px;border: 1px solid #fff">
      <table style="border: 5px solid #61c3ff;">
        <thead>
          <tr>
            <th align="left" style="width: 100px;">Message</th>
            <th align="left" style="width: 85px;">Submission time</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in comments %}
            <tr>
              <td><a href="/question/{{ comment['question_id'] }}">{{ comment['message'] }}</a></td>
              <td>{{ comment['submission_time'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
{% endblock %}